{% load static %}
<div
  class="bg-[#07046ABD] flex flex-col md:flex-row justify-between text-white items-center py-2"
>
  <div
    class="w-[85%] flex flex-col md:flex-row justify-between mx-auto py-3 md:py-12"
  >
    <div class="flex-1 items-center flex flex-col">
      <img
        src="{% static 'images/logo.png' %}"
        class="w-20 h-20 rounded-full"
        alt=""
      />
      <p class="text-center md:text-start w-[90%] md:my-14 py-3 md:py-10">
        At Novel Design and Construction Ltd, we leverage the power of ArchiCAD
        to bring your architectural visions to life with precision and
        efficiency.
      </p>
    </div>
    <div class="flex-1 flex flex-col items-center">
      <h1 class="text-[1.3rem] md:first_heading">Quick Links</h1>
      <ul
        class="text-start w-[90%] self-center flex flex-col items-center md:my-14 py-3 md:py-14"
      >
        <li><a href="">Home</a></li>
        <li><a href="">Courses</a></li>
        <li><a href="">Instructors</a></li>
        <li><a href="">Our Portifolio</a></li>
      </ul>
    </div>
    <div class="flex-1">
      <h1 class="text-center text-[1.3rem] md:first_heading">Contact Us</h1>
      <p
        class="text-center md:text-start w-[90%] self-center flex flex-col items-center md:my-14 py-3 md:py-14"
      >
        Address: Kigali, Rwanda NYARUGENGE ,<br />
        KN 01 ST VISION TECHNOLOGY <br />Telephone: +250 782214360
      </p>
    </div>
  </div>
</div>
<div
  class="bg-webcolor bg-opacity-45 w-full items-center justify-center text-white text-center py-2"
>
  @Novel design and Construction ltd - 2024
</div>
